<div class ='text-right'>
  <%= form_tag user_portfolio_path(user, portfolio), method: "delete" do %>
    <input type="image" src="https://png.icons8.com/metro/50/000000/trash.png" height="15" width="15">
  <% end %>
</div>
