<h2> You're viewing <%= user.name %>'s page. </h2>
<% if current_user.following?(user) %>
  <%= render partial: "unfollow", locals: {user: user, current_user: current_user} %><br>
<% else %>
  <%= render partial: "follow", locals: {user: user, current_user: current_user} %><br>
<% end %>

<% if user.portfolios.blank? %>
  <h4>This user does not have any viewable portfolios</h4>
<% else %>
  <h4>This user has created the following portfolios:</h4>
  <% user.portfolios.each do |portfolio| %>
    <%= link_to "#{portfolio.name}", user_portfolio_path(user, portfolio) %><br>
  <% end %>
<% end %>
