<% if current_user == @user %>
  <%= render  partial: "users/owner", locals: {user: current_user} %>
<% else %>
  <%= render partial: "users/guest", locals: {user: @user} %>
<% end %>

<script>
$(function () {
  $("#show-more").on("click", function() {
    let userId = parseInt($("#show-more").attr("data-id"));
    $.getJSON("/users/" + userId + "/portfolios", function(data) {
      let portfolios = [];
      for (let i = 0; i < data.length; i++) {
        let portfolio = new Portfolio(data[i])
        portfolio.setupTemplate()
      }
    }); return false
  });
})
</script>

<script id="portfolio-template-owner" type="text/x-handlebars-template">
  <div class="card">
    <div class="card-header">
      <h4><a href="/users/<%= @user.id %>/portfolios/{{id}}">{{name}}</a></h4>
    </div>
    <div class="card-body">
      <p>Current value: ${{value}}</p>
    </div>
  </div>
</script>

<script>
 $(function() {
   Portfolio.templateSource = $("#portfolio-template-owner").html();
   Portfolio.template = Handlebars.compile(Portfolio.templateSource)
 })
</script>

<% content_for :portfolios do %>
  <%= javascript_include_tag "portfolios.js" %>
<% end %>
