<div class="card">
  {{#each portfolios}}
  <div class="card-header">
    <h4><a href="/users/{{user.id}}/portfolios/{{id}}">{{name}}</a></h4>
  </div>
  <div class="card-body">
    <!-- value method needs to be implemented on object prototype -->
    <p>Current value: $</p>

  </div>
  {{/each}}
</div>
