{{#positions}}
<div class="card">
  <div class="card-header">
    <h1 class="card-title">{{coin.name}}</h1>
  </div>
  <div class="card-body">
    <p>Quantity: {{quantity}}</p>
    <p>Value: $ {{value}} </p>
  <div class="card-footer">
    <img src={{coin.img_url}}>
  </div>
</div>
{{/positions}}
