
div#particles-js {
  background: rgba(45,64,94, 0.7);
  position: relative;
  height: 100vh;

}

div#login-options {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 400px;
  height: 400px;
  color: white;
  opacity: 0.8;
  background-color: #2d405e;
}
