<div class="card">
  <h4 class="card-title text-center">Most users hold <%= link_to Coin.with_most_holders.name, coin_path(Coin.with_most_holders) %> in their portfolio.</h4>
</div>
<div class="card">
  <h5 class="card-title text-center">The most widely held coin across all portfolios is <%= link_to Coin.most_widely_held.name, coin_path(Coin.most_widely_held)%>.</h5>
</div>
<div class="card-group">
  <%= render @coins %>
</div>
